.form-field{
    display: flex;
    padding: 20px;
}
.field{
    min-width: 100%;
}
.scheme-container{
    margin: 0 auto;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1F72C6;
    padding: 5px;
    margin-top:20px;
}
.multiLine{
    word-spacing: normal;
    white-space: normal;
    max-width: 350px;
    padding: 10px;
    padding-right: 15px;
}
 .MuiSelect-selectMenu{
    white-space: nowrap !important;
}