.discipline-container{
    padding: 30px;
    margin: 40px;
}
.dsci{
    display: flex;
    justify-content: space-between;
}
Paper{
    margin:20px
}
.item{
    margin:20px;
    border-left: 1px solid red;
    border-top: 1px solid red;
    border-right: 1px solid red;
    padding: 30px
}
.Cell-dayOfMonth-51{
    display: none
}
.itemUpdate{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.itemUpdate > .input-group{
    width: 30% !important;
}

.treeItem{
    color: red !important
}