.report-hd{
    padding: 10px 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}
.report-hd > h3{
    color: #1F72C6;
    font-size: 2rem;
}
.chrt{
    margin-top: 20px;
    width: 40%;
    height: 40%;
    margin-left: 50px;
}
Paper{
    margin-left: 40px;
}
.chrt-hd{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px;
    border-bottom: 1px solid #EBEFF2;
    margin-bottom: 10px;
}
.chrt-btm{
    height:10px
}