.plan-container-lesson {
	background-color: rgb(255, 255, 255);
	align-self: center;
	margin-top: 30px;
	min-height: 100vh;
}

/* .in-card-title {
	margin: 10px;
}

.in-card-title > h4 {
	color: black;
}

.in-card-title > h5 {
	color: black;
	font-weight: 300;
	font-size: 1rem;
}
.titl > h1 {
	color: #1f72c6;
}

.titl2 > h4 {
}

.titl2 > h5 {
	font-weight: 400;
	font-size: 1rem;
}

.select-subject {
	display: flex;
	justify-content: space-evenly;
}

.print-lessonPlan-container {
	margin: 10px;
}

.print-lp-hd {
	display: flex;
	justify-content: space-evenly;
}
.ls-table {
	min-width: 100px;
}
table {
	width: 100%;
}
th {
	background-color: rgb(211, 211, 211);
}
td {
	padding: 10px 10px 10px;
}
.print-btn-2 {
	display: flex;
	justify-self: center;
	justify-content: center;
}

.list {
	list-style-type: circle;
} */
h6,
p {
	color: #000;
}

.itemCard {
	border: 1px solid #1f72c6;
	border-radius: 4px;
	margin: 5px 8px;
	padding: 5px 8px;
}

.imgDiv > img {
	border: 2px solid #1f72c6;
	border-radius: 4px;
	object-fit: cover;
}
