
.right-side-container{
    padding: 20px;
}


.right-side-hd{
    display: flex;
    flex-direction: column;
}

.right-side-hd >h3{
    color: #0c393c;
    font-weight: bold;
    max-height: 0px;

}
.right-side-hd >p{
    color: #0c393c;
    font-size: x-small;
    
}

.right-card{
    margin: 20px 0px 20px;
}