.schoolReport-container{
    height: fit-content;
    width: 960px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: auto;
    border: 4px solid black;
}
.schoolReport-container > table{
    margin-top: 20px;
}
.print-btn{
    background-color: #1f72c7;
    color: white;
    border-radius: 5px;
    border:0px solid white;
    align-self: center;
    padding: 10px 30px 10px;
    width: 100%
}

.report-logo{
    width: 100px;
    height: 120px;
}

.school-details > p {
    margin-bottom: 0.1rem;
    margin-top: 0.1rem !important;
}

.report-hd{
    display: flex;
    justify-content: space-between;
}
.student-details {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.student-hd-columns-2{
    margin-left: 20px;
}

.student-hd-columns-1{
    margin-right: 20px;
}

.student-img{
    margin-right: 40px;
}

.report-body{
    marign: auto
}

.doc-hd{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    margin-top: 0px !important;
}
.report-table{
    margin: 5px;
}

p{
    margin-top: 15px;
}

.report-ft{
    margin: 5px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grade{
    min-width: 50%;
    margin: 5px;
    position: static;
    bottom: 1%;
}

th{
    padding-left: 20px;
    padding-right: 20px;
}
