.card-container{
    background-color: white;
    border-radius: 5px;
    align-self: center;
    padding: 30px;
    width: 85vh;
    max-height: 40vh;
}
.card-hd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;
}
/* .card-hd > h4 {

    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
} */

.card-ft{
    display: flex;
    justify-content: space-between;
}
.card-tag{
    background-color: #b7154054;
    color: #B71540;
    padding: 8px;
    border-radius: 3px;
}
.card-title{
    color: #0c393c;
    font-weight: bold;
}
.card-details{
    color:#0c393c;
    min-width: 100%;
}
.card-time{
    color: #0c393c;
    font-size: smaller;
    margin-top: -25px;
}
.card-size{
    color: #1f72c7;
    font-size:small
}
.card-covered{
    color: #f29493;
    font-size: small;
}
.card-link{
    color: #1f72c7;
    font-size: small;
    text-decoration: underline;
    margin-top: -25px;
}.row1{
    display: flex;
    justify-content: space-between;
}
.row1-p > p{
    margin: 0px
}